 <footer>
  <hr/>

  <div class="row">

    <div class="col-sm-4">
      <p class="text">SnagTracker</p>
      <p class="text">Racido B.V. KvK 59434554</p>
    </div>

    <div class="col-sm-4">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-user"></i>Sjoerd de Jong</li>
        <li><i class="fa-li fa fa-phone"></i>(+31) 6 1888 3084</li>
        <li><i class="fa-li fa fa-envelope-o"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>
</footer>

<div id="file-upload-progress" class="modal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sleep bestand in dit venster om toe te voegen</h4>
      </div>
      <div class="modal-body text-center">
        <div class="stcircle-6 fa fa-plus"></div>
      </div>
      <div class="modal-footer">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" style="width: 0%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>